.all-country-container {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 3rem;
}

.country-card {
  background-color: #f2f2f2;
  width: 260px;
  border-radius: 6px;
  padding: 0.5rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.country-img img {
  max-width: 100%;
}

.country-data {
  margin-top: 1rem;
  line-height: 1.5rem;
}

@media (max-width: 800px) {
  .country-card {
    width: 180px;
  }
}
